* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}


/*------------home-nav styling start--------------*/
    .home-nav {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 0px 20px;
        position: fixed;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4) ;
        background-color: rgba(0, 0, 0, 0.937);


    }  

    .home-nav h1 {
        font-size: 3rem;
        background: linear-gradient(to right, rgba(173, 0, 247, 0.4), rgba(255, 0, 247, 0.7));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-family: 'Tangerine', serif;
        border-radius: 30%;
        border: 2px solid rgba(248, 66, 242, 0.7);
        background-color: black;
        text-align: center;
    }

    .home-nav h1 a,
     .nav-links ul li a,
      .icons a, 
      .footer-icons a {
        text-decoration: none;
    }


.nav-links ul, .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        gap: 50px;
}

.nav-links ul li {
    font-size: 1.8em;
    font-style: oblique;
    list-style: none;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background: aliceblue;
    position: relative;
    transition: 0.4s ease-in-out;

}

.nav-links ul li:hover::after {
    width: 100%;
    color: aliceblue;
}   

.nav-links ul li a {
    color:rgba(248, 254, 255, 0.855);
}

.nav-links ul li a:hover{
    color: aliceblue;
    transition: 0.6s;
}

.home-nav  .fa-brands {
    color: #fff;
    font-size: 1.8rem;
    
}

.main-section {
  width: 100%;
  padding: 100px 20px 20px 20px;
  margin: 0 auto;
  text-align: center;
}

.main-section h1 {
  margin-bottom: 20px;
  font-size: 1rem;
  color:aliceblue;
}

.the-voice-videos, .video-2, .video-1 {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


iframe{
  width: 100%;
  height: 170px;
}

.hero-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  background: transparent;
  cursor: pointer;
  }
  .hero-btn:hover{
    background-color:#f84337;
    transition: 1s;
    cursor: pointer;}
  

/*
@media (max-width: 576px) {
    .home-nav {
        width: 100%;

    }

    .home-nav h1 {
        margin-left: 0;
    }

    .nav-links ul li {
        font-size: 1.6rem;
}

.home-nav .fa-xmark {
    font-size: 3rem;
    margin-left: 110px;
}

}*/


/*nabar media queries*/
@media(max-width: 768px) {
    .home-nav {
        height: 80px;
        justify-content: space-around;
        gap: 60px;
    }


    .home-nav h1 {
        font-size: 2rem;
    }

    .icons {
        display: none;
    }

    .nav-links {
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 4;
        transition: 0.5s;
    }

   .nav-links ul {
        margin-top: 40px;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 30px;
        gap: 50px;
}

    .home-nav .fa-solid {
    display: block;
    color: rgba(188, 59, 184, 0.7);
    cursor: pointer;
    font-size: 2rem;
    margin-left: 30px;
}

.home-nav .fa-xmark {
    color: rgba(188, 59, 184, 0.7);
    font-size: 3rem;
    margin-left: 40px;
    margin-top: 23px;
}

    
}

@media(min-width: 769px) and (max-width: 992px) {
  .home-nav {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .home-nav ul {
    gap: 25px;
    margin: 0 auto;
  }

  .home-nav ul li {
    font-size: 1.2rem;
    margin: 0;
  }

  .icons {
    gap: 25px;
    margin: 0;
    padding: 0;
  }

  .home-nav  .fa-brands {
    font-size: 1.3rem;
  }

  .home-nav h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .home-nav .fa-solid {
    display: none;
  }

  .home-nav .fa-xmark {
    display: none;
  }

  iframe{
    width: 100%;
    height: 300px;
  }
    
}

@media(min-width: 993px) and (max-width: 1200px) {
    .home-nav {
        padding: 30px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
      }
    
      .home-nav ul {
        gap: 25px;
        margin: 0;
      }
    
      .home-nav ul li {
        font-size: 1.2rem;
        margin: 0;
      }
    
      .icons {
        gap: 30px;
        margin: 0;
        font-size: 0.5rem;
        padding: 0;
      }

      .home-nav  .fa-brands {
        font-size: 1.4rem;
      }
    
      .home-nav h1 {
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
      }
    
      .home-nav .fa-solid {
        display: none;
      }
}

@media(min-width: 1201px) {
    .home-nav {
        padding: 45px 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
      }
    
      .home-nav ul {
        gap: 35px;
        margin-left: 0;
      }
    
      .home-nav ul li {
        font-size: 1.8rem;
        margin: 0;
      }
    
      .icons {
        gap: 45px;
        margin: 0;
        font-size: 1.5rem;
        padding: 0;
      }
    
      .home-nav h1 {
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
      }
    
      .home-nav .fa-solid {
        display: none;
      }

      .home-nav .fa-xmark {
        display: none;
      }
}



/*body styling*/

body::before {
    content: "";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.home-body::before {
    background-image: linear-gradient(rgba(17, 10, 4, 0.781), rgba(34, 16, 2, 0.6)), url(images/background-3.jpg);
  }



 