* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}


/*------------home-nav styling start--------------*/
    .home-nav {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 0px 20px;
        position: fixed;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4) ;
        background-color: rgba(0, 0, 0, 0.937);


    }  

    .home-nav h1 {
        font-size: 3rem;
        background: linear-gradient(to right, rgba(173, 0, 247, 0.4), rgba(255, 0, 247, 0.7));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-family: 'Tangerine', serif;
        border-radius: 30%;
        border: 2px solid rgba(248, 66, 242, 0.7);
        background-color: black;
        text-align: center;
    }

    .home-nav h1 a,
     .nav-links ul li a,
      .icons a, 
      .footer-icons a {
        text-decoration: none;
    }


.nav-links ul, .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        gap: 50px;
}

.nav-links ul li {
    font-size: 1.8em;
    font-style: oblique;
    list-style: none;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background: aliceblue;
    position: relative;
    transition: 0.4s ease-in-out;

}

.nav-links ul li:hover::after {
    width: 100%;
    color: aliceblue;
}   

.nav-links ul li a {
    color:rgba(248, 254, 255, 0.855);
}

.nav-links ul li a:hover{
    color: aliceblue;
    transition: 0.6s;
}

.home-nav  .fa-brands {
    color: #fff;
    font-size: 1.8rem;
    
}

.main-section {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

.main-section h1 {
  margin-bottom: 20px;
  font-size: .5rem;
  color:aliceblue;
}

.the-voice-videos,
 .video-2, 
 .video-1, 
 .videos {
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


iframe{
  width: 100%;
  height: 140px;
  border: 1px solid white;
}

.hero-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  background: transparent;
  cursor: pointer;
  }


  .hero-btn:hover,
  .music button:hover, 
  .music h3:hover,
  .video h2:hover, 
  .videos a:hover,
  form button {
    background-color:#f84337;
    transition: 1s;
    cursor: pointer;
  }

  form button {
    background:#f84337;
    transition: 1s;
    cursor: pointer;
  }

  .music a, 
  .videos a, 
  .host a {
    color:rgba(248, 254, 255, 0.855);
    text-decoration: none;
  }
  
  .music a:hover, .videos a:hover {
    text-decoration: underline;
  }
  
    .music-video {
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    
  .music-video h1 {
        margin-top: 10px;
        font-size: 4rem;
        letter-spacing: 7px;
        font-weight: bolder;
        word-spacing: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    
    .musics {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        margin: 0 auto;
        padding-top: 20px;
    }
    
    .music {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .music h3, 
    button {
        width: 90%;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        border: none;
        background-color: #ff867d;;
        border: 1px solid #111;
        color:#fff;
        border: 2px solid whitesmoke;
    }
    
    .music h2 {
        letter-spacing: 5px;
        color: #fff;
    }
  

  .musics button:visited, 
.musics h3:visited,
.codepen h2:visited {
    color:#eba9d1;
}



.foto {
    width: 90%;
    height: 298px;
}

.foto:hover {
    opacity: 0.3;
    transition: 0.9s;
}

.foto img {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}

.video-div {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.video, .video iframe {
  width: 100%;
}

.videos h2 {
  padding: 10px;
  border: 1px solid white;
}

.contact {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.contact span {
  color:#fff;

}

.contact h1 {
  margin-top: 20px;;
}

form {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(154, 138, 138); 
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color:rgba(248, 254, 255, 0.855);
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  background: transparent;
  outline: none;
  color: white;
  border: 1px solid rgb(154, 138, 138); 
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  background: transparent;
  border: 1px solid rgb(154, 138, 138); 
  outline: none;
  color:rgba(248, 254, 255, 0.855);
  padding: 5px;
  border-radius: 5px;
}

form button {
  width: 100%;
  background: transparent;
  border-radius: 5px;
}

form button,
 .service-content button {
    cursor: pointer;
    border: 1px solid rgb(98, 21, 96);
    animation: mymove 2s infinite;
    
}

.footer {
  max-width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-top: 2px solid white;
}

.foot-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.privacy-right {
  color: white;
  font-size: 1.4rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons .fa-brands {
  color: white;
  font-size: 1.4rem;
}

.host {
  color: white;
}

.host span {
  color: rgb(199, 160, 255);
  font-weight: bold;
  font-size: 1.4rem;
}

.danger {
  color: rgb(255, 255, 255);
  animation: mymove 2s infinite;
  padding: 2px;
  border-radius: 5px;

}



@keyframes mymove {
  50% {border-color: rgb(255, 255, 255);
      background-color: rgb(202, 43, 43);
  }


}



/*about section*/

.articles-div {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 0;
  flex-wrap: wrap;
}

.articles {
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  margin: 0 auto;
  min-width: 80%;
  background-color: rgba(248, 66, 242, 0.7);
  padding: 6px;
  border-radius: 5px;
  height: 88vh;
  width: 98%;
}

.article img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

}






/*media queries*/
@media (max-width: 768px) {
    .home-nav {
        height: 80px;
        justify-content: space-around;
        gap: 60px;
    }


    .home-nav h1 {
        font-size: 2rem;
    }

    .icons {
        display: none;
    }

    .nav-links {
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 4;
        transition: 0.5s;
    }

   .nav-links ul {
        margin-top: 40px;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 30px;
        gap: 50px;
}

    .home-nav .fa-solid {
    display: block;
    color: rgba(188, 59, 184, 0.7);
    cursor: pointer;
    font-size: 2rem;
    margin-left: 30px;
}

.home-nav .fa-xmark {
    color: rgba(188, 59, 184, 0.7);
    font-size: 3rem;
    margin-left: 40px;
    margin-top: 23px;
}

.main-section h1 {
  font-size: 1rem;
}

.the-voice-videos, .video-2, .video-1 {
  gap: 20px;
}

iframe{
  min-height: 200px;
}

.hero-btn {
        letter-spacing: 3px;
        width: 60%;
        padding: 10px 20px;
        font-size: .5rem;
      }

      .foto{
        max-width: 600px;
        max-height: 440px;
      }
    
      .music h3, 
    button {
      max-width: 600px; 
    }
    
    button {
      font-size: 1rem;
    }

   


    
}

@media(min-width: 769px) and (max-width: 992px) {
  .home-nav {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .home-nav ul {
    gap: 25px;
    margin: 0 auto;
  }

  .home-nav ul li {
    font-size: 1.2rem;
    margin: 0;
  }

  .icons {
    gap: 25px;
    margin: 0;
    padding: 0;
  }

  .home-nav  .fa-brands {
    font-size: 1.3rem;
  }

  .home-nav h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .home-nav .fa-solid {
    display: none;
  }

  .home-nav .fa-xmark {
    display: none;
  }

  iframe{
    height: 460px;
  }

  .main-section h1 {
    font-size: 2rem;
  }

  .hero-btn {
    letter-spacing: 3px;
    width: 60%;
    padding: 10px 20px;
    font-size: 2rem;
  }

   .foto{
    width: 500px;
    height: 450px;
  }

  .music h3, 
button {
  width: 500px; 
}

.articles-div {
  flex-direction: row;
  padding-top: 10px;
}

.article {
  border-radius: 5px;
}



    
}

@media(min-width: 993px) and (max-width: 1200px) {
    .home-nav {
        padding: 30px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
      }
    
      .home-nav ul {
        gap: 25px;
        margin: 0;
      }
    
      .home-nav ul li {
        font-size: 1.2rem;
        margin: 0;
      }
    
      .icons {
        gap: 30px;
        margin: 0;
        font-size: 0.5rem;
        padding: 0;
      }

      .home-nav  .fa-brands {
        font-size: 1.4rem;
      }
    
      .home-nav h1 {
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
      }
    
      .home-nav .fa-solid {
        display: none;
      }

      .main-section {
        padding: 120px 30px 20px 30px;
      }

      .main-section h1 {
        font-size: 2rem;
      }

      .the-voice-videos, .video-2, .video-1 {
        gap: 50px;
  }

       iframe{
       height: 470px;
  }

  .hero-btn {
    letter-spacing: 3px;
    width: 60%;
    padding: 10px;
    font-size: 2rem;
  }

  .foto{
    width: 500px;
    height: 470px;
  }

  .music h3, 
button {
  width: 500px; 
}


   

}

@media(min-width: 1201px) {
    .home-nav {
        padding: 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        gap: 50px;
      }
    
      .home-nav ul {
        gap: 35px;
        margin-left: 0;
      }
    
      .home-nav ul li {
        font-size: 1.2rem;
        margin: 0;
      }
    
      .icons {
        gap: 45px;
        margin: 0;
        font-size: 1.5rem;
        padding: 0;
      }
    
      .home-nav h1 {
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
      }
    
      .home-nav .fa-solid {
        display: none;
      }

      .home-nav .fa-xmark {
        display: none;
      }

      .main-section h1 {
        font-size: 2.3rem;
      }

      .main-section {
       width: 100%;
       padding: 120px 30px 20px 30px;
       margin: 0 auto;
       text-align: center;
}
.main-section h1 {
      font-size: 2rem;
}

.musics {
  flex-direction: row;
  padding-top: 5px;
}

.the-voice-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.video-2 {
  display: flex;
  flex-direction: row;

}

.the-voice-videos, .video-2, .video-1 {
      gap: 30px;
}

.video-1 iframe{
  height: 500px;
  width: 90%;
}

  .video-2 iframe {
    width: 43.7%;
    height: 360px;

  }

      .hero-btn {
        letter-spacing: 3px;
        width: 60%;
        padding: 10px;
        font-size: 2rem;
      }

      .foto{
        width: 380px;
        height: 370px;
      }

      .music h3, 
    button {
      width: 380px; 
    }

    .video-div {
      flex-direction: row;
    }

    .video, .video iframe {
      min-height: 400px;
    }
}


/*body styling*/

body::before {
    content: "";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.home-body::before {
    background-image: linear-gradient(rgba(17, 10, 4, 0.781), rgba(34, 16, 2, 0.6)), url(images/background-3.jpg);
  }



 